:root {
  --background-color: #e9dcc9;
  --text-color: #3e2723;
  --accent-color: #7d5a3c;
  --border-color: #5d4037;
  --hover-color: #c62828;
}

@font-face 
{
    font-family: 'Breathe_Fire_III'; 
    src: url(../src/assets/fonts/BreatheFireIii-PKLOB.ttf); 
}

@font-face 
{
    font-family: 'Vecna_Bold'; 
    src: url(../src/assets/fonts/VecnaBold-4YY4.ttf); 
}

@font-face 
{
    font-family: 'Draconis'; 
    src: url(../src/assets/fonts/Draconis-JRw6B.ttf); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Draconis';
  background-color: var(--background-color);
  color: var(--text-color);
}

a
{
  font-family: 'Breathe_Fire_III';
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 1rem;
}

/* HomePage Styles */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
}

.login {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.flex-home
{
  margin-top: 52px;
  display: flex;
  justify-content: center;  
  flex-direction: column;
}

.hero-section {
  background-image: url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 4rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section h2,
.hero-section p {
  position: relative;
  z-index: 2;
  max-width: 800px;
}

.hero-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info-section {
  padding: 3rem 1rem;
  max-width: 800px;
}

.info-section h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.info-section p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 3rem 1rem;
  }
  
  .hero-section h2 {
    font-size: 2rem;
  }
  
  .hero-section p {
    font-size: 1rem;
  }
  
  .info-section h3 {
    font-size: 1.5rem;
  }

}
